.airport_code_checking_quickly{
    position: fixed;
    border: 1px solid #dee2e6;
    background-color: #fff;
    max-height: 500px;
    overflow-y: auto;

    table {
        border-collapse: collapse;

        td, th{
            padding: .75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
            font-size: 12px;
        }
        th {
            color: #fff;
            background-color: #343a40;
            border-color: #454d55;      
            vertical-align: bottom;
            border-bottom: 2px solid #dee2e6;
        }
    }

}
